.card {
  --card-inset-width: 54px;
  --card-content-offset: var(--space-4);
  --buttons-width: 84px;
  --buttons-offset: var(--space-4);

  width: 100%;
  padding: 0;
}

.cardInset {
  width: var(--card-inset-width);
  box-shadow: 0 0 0 1px var(--gray-a5);
}

.content {
  max-width: calc(
    100% - var(--card-inset-width) - var(--card-content-offset) - var(--buttons-width) -
      var(--buttons-offset)
  );
  margin-left: var(--card-content-offset);
  padding: var(--space-4) 0;
}

.buttonsContainer {
  width: var(--buttons-width);
  height: 100%;
  margin-left: var(--buttons-offset);
}

.fileName {
  display: inline-block;
  height: 24px;
  width: 100%;
}

.spinner {
  width: var(--space-6);
  height: var(--space-6);
}

@media screen and (max-width: 1023px) {
  .cardInset {
    box-shadow: none;
  }
}

@media screen and (max-width: 700px) {
  .buttonsContainer {
    justify-content: flex-end;
    padding: var(--space-4) var(--space-4) var(--space-4) 0;
  }
}

@media screen and (max-width: 600px) {
  .root {
    flex-direction: column;
    align-items: flex-start;
  }

  .content {
    width: 100%;
    max-width: 100%;
    margin: 0 0 6px 0;
    padding: 0;
    gap: var(--space-2);
  }

  .buttonsContainer {
    flex-direction: row;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .spinner {
    margin-right: 0;
  }

  .buttonsContainer,
  .spinner {
    align-self: flex-end;
  }
}
