.overlay {
  top: var(--layout-header-height) !important;
}

.content {
  top: var(--layout-header-height);
  left: 0;
  right: 0;
  max-height: 80dvh;
  min-height: 5dvh;
}

.content::after {
  display: none;
}

.trigger {
  display: none !important;
}

.heading {
  padding-left: var(--space-3);
  font-weight: 600 !important;
}

@media screen and (max-width: 767px) {
  .trigger {
    display: inline-flex !important;
  }
}
