.root {
  --background-color: white;

  position: absolute;
  right: 14px;
  top: 14px;
  z-index: 15;
  background-color: var(--background-color);
  box-shadow: inset 0 0 0 1px rgb(205 206 215);
}

.root svg {
  color: rgb(96 100 108);
}

@media (hover: hover) {
  .root:hover {
    background-color: color-mix(in srgb, var(--background-color), #000 4%);
  }
}

.root:active {
  background-color: color-mix(in srgb, var(--background-color), #000 8%);
}
