.root {
  position: relative;
}

.root img {
  height: auto !important;
}

.landscape,
.landscape img {
  max-width: 1920px;
}

.portrait,
.portrait img {
  max-width: 960px;
}

.portrait,
.landscape,
.portrait img {
  max-height: calc(var(--layout-content-height) - var(--page-padding) * 2);
}
