.root {
  position: relative;
}

.landscape,
.landscape img {
  max-width: 1920px;
}

.portrait,
.portrait img {
  width: 100%;
  max-width: 960px;
}

.portrait,
.landscape {
  max-height: calc(var(--layout-content-height) - var(--page-padding) * 2);
}
