.root {
  --full-hd-width: 1920px;
  --full-hd-height: 1080px;
  --gap: var(--space-1);

  gap: var(--gap);
  max-height: var(--full-hd-height);
}

.slider {
  --width-lg: calc(100dvw - var(--slide-aside-w) - var(--page-padding) * 2 - var(--gap));
  --width-md: calc(var(--width-lg) + var(--slide-aside-w));
  --ratio-w: 16;
  --ratio-h: 9;

  /* 16:9 slide ratio */
  width: var(--width-lg);
  max-width: var(--full-hd-width);
  height: calc(calc(var(--width-lg) / var(--ratio-w)) * var(--ratio-h));
  max-height: var(--full-hd-height);
}

.sliderAside {
  width: var(--slide-aside-w);
}

.root span {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .slider {
    width: var(--width-md);
    height: calc(calc(var(--width-md) / var(--ratio-w)) * var(--ratio-h));
  }

  .sliderAside {
    display: none;
  }
}
