.sliderContainer {
  position: relative;
}

.portrait {
  align-self: flex-start;
  width: calc(
    50% - calc(var(--slide-aside-w) / 2) - calc(var(--content-gap) / 2) - calc(var(--space-2) / 2)
  );
  max-width: calc(960px - calc(var(--content-gap) / 2));
}

.landscape {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .portrait {
    width: calc(50% - calc(var(--content-gap) / 2));
  }
}
