.root {
  position: relative;
  width: calc(100dvw - var(--settings-panel-width));
}

.root:has(> .driver-active-element) {
  overflow: auto !important;
}

.withFile {
  padding-top: var(--space-4);
}

.withFile .backgroundGrid {
  display: none;
}

@media screen and (min-width: 2400px) {
  .root {
    width: calc(100dvw - var(--settings-panel-width-2400));
  }
}

@media screen and (max-width: 1200px) {
  .root {
    width: calc(100dvw - var(--settings-panel-width-1200));
  }
}

@media screen and (max-width: 1023px) {
  .root {
    width: 100dvw;
    padding-top: var(--space-4);
    padding-bottom: var(--space-2);
  }

  .backgroundGrid {
    display: none;
  }
}

.content {
  z-index: 10;
}
