.root {
  width: calc(100% - var(--settings-panel-width) - var(--space-4));
}

.root:has(> .driver-active-element) {
  overflow: auto !important;
}

@media screen and (max-width: 1200px) {
  .root {
    width: calc(100% - var(--settings-panel-width-1200) - var(--space-4));
  }
}

.withFile {
  padding-top: var(--space-5);
}

@media screen and (max-width: 1023px) {
  .root {
    width: 100%;
    padding-top: var(--space-5);
  }

  .withFile {
    padding-bottom: var(--space-4);
  }

  .withoutFile {
    padding-bottom: var(--space-5);
  }
}
