.root {
  cursor: pointer;
  max-width: 430px;
  height: 140px;
  flex-shrink: 0;
  border: 1px dashed var(--gray-a9);
  border-radius: var(--radius-3);
  background-color: var(--gray-a2);
  transition: background-color 50ms ease-in;
}

.root svg {
  flex-shrink: 0;
}

@media (hover: hover) {
  .root:hover {
    background-color: var(--gray-a3);
  }
}

.dragOver {
  background-color: var(--gray-a4);
}

.uploadText {
  font-size: var(--font-size-5);
}

.article {
  gap: 2px;
}

.titleTouch {
  display: none;
}

@media (pointer: coarse) {
  .title {
    display: none;
  }

  .titleTouch {
    display: block;
  }
}

.maxFileSize {
  color: var(--gray-11);
}

@media screen and (max-width: 767px) {
  .root {
    max-width: 340px;
  }
}

@media screen and (max-width: 519px) {
  .uploadText {
    font-size: 19px;
  }
}
