.root {
  width: var(--settings-panel-width);
  box-shadow: -1px 0 var(--gray-a4);
}

.root :global(.rt-TabsContent:focus) {
  outline: none;
}

.root :global(.rt-ScrollAreaScrollbar) {
  margin-top: calc(var(--settings-panel-toobar-height) + var(--space-3));
  margin-bottom: var(--space-2);
}

@media screen and (max-width: 1200px) {
  .root {
    width: var(--settings-panel-width-1200);
  }
}

@media screen and (max-width: 1023px) {
  .root {
    width: var(--settings-panel-width-md);
    box-shadow: none;
  }
}
