.root {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9;
  height: var(--settings-panel-toobar-height);
  background-color: var(--color-background);
  box-shadow: inset 0 -1px 0 0 var(--gray-a5);
}

@media screen and (max-width: 1023px) {
  .root {
    box-shadow: none;
  }
}
