.content {
  height: 100%;
  padding: var(--space-2);
}

.content :global(.rt-ScrollAreaScrollbar) {
  margin-left: 0;
  margin-right: 0;
}

.content :global(:is(html.dark .rt-ScrollAreaScrollbar)) {
  background-color: var(--gray-12);
}

.content :global(:is(html.dark .rt-ScrollAreaThumb)) {
  background-color: var(--gray-11);
}

.exampleList,
.content :global(.rt-ScrollAreaViewport) {
  border-radius: var(--radius-2);
}

.exampleItem {
  gap: 6px;
}

.buttonInfo {
  padding: 0;
  margin: 0;
}

/* 🤬 */
.content :global(:is(html.dark .resize-fit-example-image-light)) {
  display: none;
}

.content :global(:is(html.dark .resize-fit-example-image-dark)) {
  display: block;
}

.content :global(:is(html.light .resize-fit-example-image-dark)) {
  display: none;
}

.content :global(:is(html.light .resize-fit-example-image-light)) {
  display: block;
}

@media screen and (max-width: 519px) {
  .content {
    padding: var(--space-1);
  }

  .content :global(.rt-ScrollAreaViewport) {
    border-radius: var(--radius-2);
  }

  .content,
  .exampleList {
    max-height: 40dvh;
    min-height: 300px;
  }

  .exampleList {
    height: 100%;
  }

  .exampleItem:first-of-type {
    padding-top: 4px;
  }

  .exampleItem:last-of-type {
    padding-bottom: 6px;
  }
}
