.buttonDownload {
  width: 140px;
}

.buttonRequest {
  width: 128px;
}

.buttonDownload,
.buttonRequest {
  border-radius: var(--radius-4);
}

@media screen and (max-width: 400px) {
  .buttonDownload,
  .buttonRequest {
    width: 52px;
  }
}
