.root {
  position: relative;
  height: calc(var(--layout-content-height) - var(--app-footer-height) - 200px);
}

.image {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  overflow: hidden;
  transform: translate3d(-50%, -50%, 0);
}

@media (hover: hover) {
  .root:hover .icon {
    opacity: 1;
    visibility: visible;
  }

  .image:hover {
    filter: brightness(70%);
    transition: filter 0.1s ease-in-out;
  }
}

.icon {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  color: white;
  transition:
    opacity 0.1s ease-in-out,
    visibility 0.1s ease-in-out;
  z-index: 1;
}

.fullscreenIcon {
  width: 40px;
  height: 40px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@media screen and (max-width: 767px) {
  .root {
    height: 30dvh;
  }
}

@media screen and (max-width: 519px) {
  .fullscreenIcon {
    width: 34px;
    height: 34px;
  }
}
