.root {
  --buttons-count: 3;
  --buttons-gap: var(--space-1);
  --button-height: var(--space-6);

  height: calc(
    calc(var(--button-height) * var(--buttons-count)) +
      calc(var(--buttons-gap) * var(--buttons-count)) - var(--buttons-gap)
  );
  max-width: 430px;
}

.buttons {
  gap: var(--buttons-gap);
}

@media screen and (max-width: 767px) {
  .root {
    max-width: 90dvw;
  }
}
