.tabs {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--space-3);
  padding: 6px 0;
}

.tabs :global(.rt-TabsTrigger::before) {
  display: none;
}

.tabs :global(.rt-TabsTrigger),
.tabs :global(.rt-TabsTriggerInner) {
  width: 100%;
}
