.root {
  cursor: pointer;
  max-width: 450px;
  height: 160px;
  min-height: 160px;
  border: 1px dashed var(--gray-a9);
  border-radius: var(--radius-3);
  background-color: var(--gray-a2);
  transition: background-color 50ms ease-in;
}

@media (hover: hover) {
  .root:hover {
    background-color: var(--gray-a3);
  }
}

.dragOver {
  background-color: var(--gray-a4);
}

.uploadText {
  font-size: var(--font-size-5);
}

@media screen and (max-width: 519px) {
  .uploadText {
    font-size: 19px;
  }
}
