.root {
  cursor: pointer;
  max-width: 500px;
  height: calc(var(--space-9) * 2);
  border: 1px dashed var(--gray-a9);
  border-radius: var(--radius-3);
  background-color: var(--gray-a2);
  transition: background-color 50ms ease-in;
}

.root:hover {
  background-color: var(--gray-a3);
}

.dragOver {
  background-color: var(--gray-a4);
}
