@import '@radix-ui/themes/styles.css';
@import '@lib/theme/theme-config.css';

:root {
  --settings-panel-width: 520px;
  --settings-panel-width-1200: 440px;
  --settings-panel-width-md: 100%;
  --settings-panel-toobar-height: 48px; /* var(--space-8) */

  --layout-header-height: 48px; /* var(--space-8) */
  --layout-content-height: calc(100dvh - var(--layout-header-height));
  --app-footer-height: 64px; /* var(--space-9) */
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.cursor-col-resize {
  cursor: col-resize;
}

.w-full {
  width: 100%;
}

/* Remove arrows for input type="number" */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.eye-dropper-active {
  pointer-events: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}

/* react-loading-skeleton */
span[aria-live='polite'] {
  height: inherit;
  display: flex;
  align-items: center;
}
span[aria-live='polite'] br {
  display: none;
}

.dark .react-loading-skeleton {
  --base-color: #333333;
  --highlight-color: #444444;
}
