.root {
  width: 100dvw;
  height: var(--layout-content-height);
  padding-top: 200px;
}

@media screen and (max-width: 519px) {
  .root {
    padding-top: 100px;
  }
}

.content {
  max-width: 500px;
}

.heading404 {
  font-size: 80px;
}

.information {
  color: var(--gray-a11);
}

.separator {
  width: 75%;
  margin-top: 14px;
}
