.main {
  height: calc(100vh - var(--space-8) - var(--space-9));
}

.content {
  width: calc(100% - var(--settings-panel-width) - var(--space-4));
}

@media screen and (max-width: 1200px) {
  .content {
    width: calc(100% - var(--settings-panel-width-1200) - var(--space-4));
  }
}

@media screen and (max-width: 1023px) {
  .content {
    width: 100%;
  }
}
