.root {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9;
  height: var(--settings-panel-toobar-height);
  background-color: var(--color-background);
  box-shadow: inset 0 -1px 0 0 var(--gray-a5);
}

.dropdownMenuTrigger {
  display: none;
}

@media screen and (max-width: 519px) {
  .content {
    display: none;
  }

  .dropdownMenuTrigger {
    display: inline-flex;
  }
}
