.root {
  border-radius: 10px;
  background-color: var(--color-background);
  box-shadow: inset 0 0 0 1px var(--gray-a4);
}

.actions {
  touch-action: none;
}

.sectionDragging section[data-id='tab-resize-section'] {
  pointer-events: none;
}
