.hueAngleSlider {
  background-image: linear-gradient(
    to right,
    hsl(0 100% 50%),
    hsl(60 100% 50%),
    hsl(120 100% 50%),
    hsl(170 100% 50%),
    hsl(240 100% 50%),
    hsl(300 100% 50%),
    hsl(360 100% 50%)
  );
}

.hueAngleSlider :global(.rt-SliderRange) {
  right: initial !important;
}

.hueAngleSlider :global(.rt-SliderThumb::after) {
  border: 0.12rem solid white;
  /* Custom CSS-variable; Taken from JavaScript */
  background-color: hsl(var(--hue-angle) 100% 50%);
}
