.trigger {
  --trigger-size: 20px;

  width: var(--trigger-size) !important;
  height: var(--trigger-size) !important;
}

.content :global(.rt-ScrollAreaRoot) {
  max-height: 60dvh;
}

.content :global(.rt-DropdownMenuViewport) {
  width: 140px;
}

.content :global(.rt-DropdownMenuRadioItem) {
  justify-content: space-between;
  padding-right: 8px !important;
}

.itemText {
  text-transform: capitalize;
}
