.drawer {
  max-height: 80dvh;
  min-height: 5dvh;
  transition: all 0.45s cubic-bezier(0.32, 0.72, 0, 1) !important;
  box-shadow:
    0 0 0 1px hsla(0, 0%, 100%, 0.145),
    0 1px 1px rgba(0, 0, 0, 0.02),
    0 4px 8px -4px rgba(0, 0, 0, 0.04),
    0 16px 24px -8px rgba(0, 0, 0, 0.06) !important;
}
