.root {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: var(--color-background);
  box-shadow: 0 1px var(--gray-a4);
}

.logo {
  border-radius: 50%;
  background-color: var(--accent-9);
}
