.link {
  display: block;
  width: 100%;
}

.unselectedLink {
  color: var(--gray-a11) !important;
}

.selectedLink,
.unselectedLink:hover {
  color: var(--accent-a11) !important;
  transition: color 100ms ease-in-out;
}
