.previewBox {
  margin-left: 6px;
  border-radius: var(--radius-2);
  box-shadow:
    inset var(--gray-a4) 0 1px 3px 0,
    var(--gray-a5) 0 0 0 1px;
}

.disabledPreviewBox {
  opacity: 0.5;
}

.disabled {
  pointer-events: none;
}

.hexColorPicker {
  width: 100% !important;
}
