.root {
  width: 100%;
}

/* First child (div) of the .rt-ScrollAreaViewport (Radix UI) has not any selectors */
.root :global(.rt-ScrollAreaViewport) > :first-child {
  width: 100%;
  min-width: 650px !important;
}
