.separator {
  margin: 0 6px;
  background-color: var(--gray-a11);
}

.link {
  display: flex;
  gap: var(--space-1);
  color: inherit;
  text-decoration-color: inherit;
}

@media (hover: hover) {
  .link:hover .linkIcon {
    display: block;
  }
}

.linkIcon {
  align-self: center;
  display: none;
}
