.root {
  background-color: var(--color-background);
  box-shadow: 0 1px var(--gray-a4);
}

.toolbarDropdownMenu {
  display: none;
}

.toolbarTabMenu {
  display: flex;
}

.toolbarTabMenuMobile {
  display: none;
}

@media screen and (max-width: 519px) {
  .toolbarContent {
    display: none;
  }

  .toolbarDropdownMenu {
    display: flex;
  }

  .toolbarTabMenu {
    display: none;
  }

  .toolbarTabMenuMobile {
    display: flex;
  }
}
