.root {
  cursor: pointer;
  position: relative;
  /* height: calc(var(--layout-content-height) - var(--processing-footer-height) - 200px); */
  height: calc(var(--layout-content-height) - 32px);
}

.image {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  overflow: hidden;
  transform: translate3d(-50%, -50%, 0);
}

.overlay {
  position: absolute;
  inset: 0;
}

@media (hover: hover) {
  .root:hover .icon {
    opacity: 1;
    visibility: visible;
  }

  .root:hover .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
}

.icon {
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  color: white;
}

.fullscreenIcon {
  width: 40px;
  height: 40px;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .root {
    height: 30dvh;
  }
}

@media screen and (max-width: 519px) {
  .fullscreenIcon {
    width: 34px;
    height: 34px;
  }
}
