.aspectRadioBox {
  cursor: pointer;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .aspectRadioBox {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .aspectRadioBox {
    width: 100%;
  }
}
