.root {
  --stroke: var(--gray-7);
  --mask: radial-gradient(100% 100% at top center, #fff, transparent);

  position: absolute;
  left: 0;
  top: 0;
  stroke: var(--stroke);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
  mask-image: var(--mask);
  -webkit-mask-image: var(--mask);
}

.cellSvg {
  overflow: visible;
  fill: var(--color-background);
}
